h1{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    margin-right: 160px;
    margin-top: 20px;
}

body
{
    background-image: url(wall.jpg) ;
    background-size: cover;
    text-align: right;
}

#num
{
    height: 70px;
    font-size: 50px;
    width: 308;
    margin-bottom: 7px;
}

#btn
{
    background-image: linear-gradient(145deg ,gray,white);
    width: 100px;
    height: 80px;
    font-size: 40px;
    margin-bottom: 3px;
    border-radius: 10px;
}

#maindiv
{
    margin-right: 50px;
}

#btn1
{
    background-image: linear-gradient(145deg ,gray,white);
    width: 100px;
    height: 80px;
    font-size: 40px;
    margin-bottom: 3px;
    border-radius: 10px;
    color: green;
}

#btn2
{
    background-image: linear-gradient(145deg ,gray,white);
    height: 80px;
    font-size: 40px;
    margin-bottom: 3px;
    border-radius: 10px;
    width: 100px;
    color: red;
}


